/* section parent */
.section_carousel {
    position: relative;
    width: 100%;
    height: 716px;
    padding: 0;
    background-color: black;
    border-bottom: 5px solid var(--primary);
}

/* carousel images */

.slide {
    opacity: 0.5;
}

.slide_active {
    opacity: 1;
    transition: opacity 2s ease-in-out;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

/* buttons */

.button_parent {
    display: flex;
    justify-content: space-between;
    width: 10rem;
    height: 5rem;
    position: absolute;
    z-index: 1;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button_parent button {
    background: none;
    border: none;
    width: 3rem;
    height: 3rem;
    border-radius: 20%;
    background-color: rgba(56, 56, 56, 0.6);
    cursor: pointer;
}

.button:hover {
    color: rgb(71, 71, 71);
    border: 2px solid rgb(190, 190, 190);
    border-radius: 20%;
}

/* heading and subheading */

.caption {
    position: absolute;
    z-index: 2;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%); 
    text-align: center;
    color: var(--background); 
    width: 80%; 
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 2rem; 
}

.caption h2 {
    font-size: 8vmin; 
    margin-bottom: 1.2rem;
}

.caption p {
    font-size: 1.5rem; 
}

/* cta button */

.ctaButton {
    margin-top: 2rem; 
    padding: 10px 20px;
    font-size: 1rem; 
    font-family: var(--font-sans);
    color: var(--background); 
    background-color: var(--primary); 
    border: none;
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

.ctaButton:hover {
    background-color: #4a1fa7;
}

/* responsive design */

@media (max-width: 768px) {
    .section_carousel {
        height: 600px;
    }
}