/* section parent */
.section_carousel {
    margin: 0 0 6rem 0;
    position: relative;
    width: 100%;
    height: 40rem;
    padding: 0;
}

/* carousel images */

.slide {
    opacity: 0;
    transition-duration: 1s ease;
}

.slide_active {
    opacity: 1;
    transition-duration: 2s;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

/* buttons */

.button_parent {
    display: flex;
    justify-content: space-between;
    width: 10rem;
    height: 5rem;
    position: absolute;
    z-index: 1;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button_parent button {
    background: none;
    border: none;
    width: 4rem;
    height: 4rem;
}

.button:hover {
    color: gray;
    border: 2px solid whitesmoke;
    border-radius: 20%;
}
