/* section parent */
.section_carousel {
    position: relative;
    width: 100%;
    height: 716px;
    padding: 0;
    background-color: black;
    border-bottom: 5px solid var(--primary);
}

/* carousel images */

.imageFillContainer {
    position: relative;
    width: 100%;
    height: 710px;
}

.imageFill {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* heading and subheading */

.caption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
    text-align: center;
    color: var(--background);
    height: max-content;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2rem;
}

.caption h2 {
    font-size: 8vmin;
    margin-bottom: 1.2rem;
}

.caption p {
    font-size: 1.5rem;
}

/* cta button */

.ctaButton {
    margin-top: 2rem;
    padding: 10px 20px;
    font-size: 1rem;
    font-family: var(--font-sans);
    color: var(--background);
    background-color: var(--primary);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: 700;
}

.ctaButton:hover {
    background-color: #4a1fa7;
}

/* responsive design */

@media (max-width: 768px) {
    .section_carousel {
        height: 600px;
    }
    .imageFillContainer {
        height: 595px;
    }
}
