.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10rem;  
    padding: 2.5rem 2.5rem;
    background-color: #000;
    border-bottom: 5px solid var(--primary);
}

.navbar > ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar img {
    -webkit-filter: drop-shadow(3px 7px 21px var(--secondary));
    filter: drop-shadow(3px 7px 21px var(--secondary));
}

.navbar > ul > li {
    margin-right: 1.9rem;
    font-size: clamp(2rem, var(--font-size), 2rem);
    font-family: var(--font-sans);
    color: var(--background);
    word-wrap: normal;
    text-shadow: 3px 7px 21px var(--secondary);
}

.navbar.phone {
    font-size: 1.5rem;
    text-shadow: 3px 7px 21px var(--secondary)
}

.mobileCallButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    padding: 1rem;
}

.mobileCallButton {
    display: inline-block;
    width: 90%;
    padding: 10px 20px; 
    background-color: var(--primary); 
    color: white; 
    text-align: center; 
    border-radius: 5px; 
    text-decoration: none; 
    font-weight: bold; 
    transition: background-color 0.3s; 
    font-family: var(--font-sans);
}

.mobileCallButton:hover {
    background-color: var(--primary-light);; 
    text-decoration: none; 
    color: white;
}

@media (max-width: 768px) {
    .navbar{
        padding: 1.5rem 1.5rem;
        border-bottom: none;
    }

    .mobileCallButtonContainer  {
        border-bottom: 5px solid var(--primary);
    }
}
