.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    padding: 40px 160px;
}

.navbar > ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar > a > image {
    padding: 5rem;
}

.navbar > ul > li {
    margin-right: 1rem;
    font-family: var(--brand-font);
}

@media (max-width: 768px) {
    .navbar {
        padding: 40px 40px;
    }
}
