.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
    padding: 40px 160px;
    background-color: var(--primary);
}

.navbar > ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar > a > image {
    padding: 5rem;
}

.navbar > ul > li {
    margin-right: 1.9rem;
    font-size: 4vmin;
    font-family: var(--font-sans);
    color: var(--background);   
}

.navbar > ul > li:last-of-type{
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    .navbar {
        padding: 40px 40px;
    }
}
