/* section parent */

.section_parent {
    width: 100%;
    margin: 5rem 0;
}

/* parent div */

.parent_div {
    display: flex;
    /* padding: 0 3rem; */
    flex-direction: column;
    width: 50rem;
}

.parent_div h2 {
    font-size: 4vmax;
    margin-bottom: 2.5rem;
}

/* child divs */

.about_desc {
    font-size: 2.5vmax;
    width: 100%;
}

/* helper div  */
.flex {
    display: flex;
    justify-content: center;
}

@media (max-width: 425px) {
    .about_desc {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .section_parent {
        padding: 0 2rem;
    }
}
