/* Section Parent */
.section_contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
    margin: 136px 0;
}

.section_contact h2 {
    font-size: 2.5rem;
}

/* Parent Div */
.div_parent {
    width: 44rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* child divs */
.map_parent {
    border: 2px solid white;
    height: 20rem;
    width: 20rem;
    /* margin-right: 6rem; */
}

.form_parent {
    height: 100%;
}

.name_parent {
    width: 20rem;
    height: 2.3rem;
    margin-bottom: 1.8rem;
}

.email_parent {
    width: 20rem;
    height: 2.3rem;
    margin-bottom: 1.8rem;
}

.message_parent {
    width: 20rem;
    height: 8rem;
    margin-bottom: 1.2rem;
}

.submit {
    width: 100%;
    height: 2.5rem;
    background-color: #000;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.submit:active {
    border: 2px solid blue;
}

/* helper class */

.full {
    height: 100%;
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-bottom: 1px solid #000;
    background-color: transparent;
}

/* mobile  */

@media (max-width: 970px) {
    .div_parent {
        flex-direction: column-reverse;
    }
    .form_parent {
        margin-bottom: 3rem;
    }
}
