/* section parent */

.section_fence {
    width: 100%;
    margin: 136px auto;
    max-width: max-content;
}

.section_fence h2 {
    margin: 1rem 0 0 0;
    font-size: 1.8rem;
}
/* parent div */

.parent_div {
    flex-direction: column;
    width: 50rem;
}

.parent_div p {
    width: 20rem;
}

/* children divs */

.content {
    margin: 1rem 0 1rem 0;
}

.content_image {
    position: relative;
    width: 23rem;
    height: 16rem;
}

.content_image Image {
    object-fit: cover;
}

.content h3 {
    font-size: 2rem;
    font-weight: normal;
}

.content_text {
    flex-direction: column;
    margin: 0 1rem 0 0;
}
/* helper classes */
.flex_center {
    display: flex;
    justify-content: center;
    width: max-content;
}

.flex_wrap {
    flex-flow: row wrap;
}

/* mobile css */

@media (max-width: 720px) {
    .flex_center {
        flex-direction: column-reverse;
    }
    .content_text {
        margin: 1rem 0 0 0;
    }
}

@media (max-width: 380px) {
    .content_image {
        position: relative;
        width: 100%;
        height: 13rem;
    }
}
