/* Section - Services */
.section_services {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background);
    color: black;
    padding: 3rem 0 0 0;
}

.section_services h2 {
    font-size: 4.3vmax;
    font-weight: bold;
    margin-bottom: 3rem;
}

/* Container for all services */
.services_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 7rem;
}

/* Individual Service Container */
.service_item {
    width: 15rem;
    height: 30rem;
    margin: 1rem 1rem 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.service_description {
    text-align: center;
    padding: 1rem;
}

.service_description h2 {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
}

.service_description p {
    font-size: 1rem;
}

/* Responsive Design */
@media (max-width: 768px) {
    .service_item {
        width: 23rem;
    }
    .services_container {
        margin-bottom: 3rem;
    }
}
